<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>Title</td>
            <td>Author</td>
            <td>Quantity</td>
            <td>Kind</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["title"]}}</td>
               <td>{{row["author"]}}</td>
               <td> {{ row["quantity"]}}</td>
               <td>{{row['kind']}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/createBook">Go back to home page</a>

      <input type = "submit" value="Se connecter">
      
   </body>
</html>